<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<form>
  Your email : <input type="text" name="email" />
  Your message : <textarea name="message"></textarea>
  <input type="submit" />
</form>